body{
    margin: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center{
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}